body {
	min-height:800px;
	height: 100vh;
	background:#fff;
	background:radial-gradient(circle,rgba(199,199,199,1) 0,rgba(108,108,108,1) 100%);
	font-family:PremierSans-Regular,Arial,Helvetica Neue,Helvetica,sans-serif
}
body button {
	font-family:PremierSans-Regular,Arial,Helvetica Neue,Helvetica,sans-serif;
	font-size:.9rem;
	min-width:100px;
	border: none;
	border-radius: 5px;
	height: 22px;
	background-color: #0276FF;
	color: #fff
}
div.main {
	padding-top:30px
}
div.week-header {
	display: flex;
	flex-direction: row;
	justify-content: center
}
div.center {
	display:flex;
	justify-content:space-around;
	padding-top:20px
}
div.predictions-container {
	display:flex;
	align-items:center;
}
table th {
	font-size:.9rem;
	color:#6c6c6c;
	padding-top:15px;
	padding-bottom:10px
}
table td {
	text-align:center;
	font-size:.9rem;
	color:#242424;
	padding-top:15px
}
table.statistics {
	background-color:#fff;
	min-width:800px;
	border-radius: 5px;
	border-collapse:collapse
}
table.statistics tr:last-child td {
	padding-bottom:20px
}
table.statistics tbody td,
table.statistics thead th {
	border-left:1px solid #ababab;
	border-right:1px solid #ababab
}
table.statistics tfoot tr {
	border-top:1px solid #ababab
}
table.statistics tr td:first-child,
table.statistics tr th:first-child {
	border-left:0
}
table.statistics tr td:last-child,
table.statistics tr th:last-child {
	border-right:0
}
table.statistics th.global-header {
	font-size:1.2rem;
	color:#000;
	text-align:center;
	border-bottom:1px solid #ababab
}
table.statistics td.no-borders {
	border:none;
	padding-left: 15px
}
table.statistics td.result {
	min-width: 30px;
	text-align: center;
	padding-left: 0;
	padding-right: 0
}
table.statistics td.to-left {
	text-align: left;
	padding-right: 15px;
	min-width: 80px
}
table.statistics td.to-right {
	text-align: right;
	padding-right: 15px;
	min-width: 80px
}
table.statistics td.cell,
table.statistics th.cell {
	min-width:40px
}
table.predictions .teams,
table.statistics .teams {
	max-width:90px;
	text-align:left;
	padding-left:15px
}
table.predictions {
	background-color:#fff;
	border-radius: 5px;
	height:210px;
	min-width:300px
}
table.predictions th.secondary-header {
	border:none
}
table.predictions tr:last-child td {
	padding-bottom:20px
}
table.predictions tr td:last-child {
	text-align:right;
	padding-right:15px
}