div.entry-header {
	display: flex;
	flex-direction: row;
	justify-content: center
}
div.setup-container {
	background-color: #fff;
	padding: 30px;
	border-radius: 5px;
}
div.setup-container button.finish-button {
	float: right;
	background-color: #2EA44F;
	color: #fff;
} 
div.single-input {
    padding-bottom: 10px;
}